/* ==UserStyle==
@name         WordReference Dark
@description  A dark theme for WordReference.com
@namespace    gitlab.com/maxigaz/wordreference-dark
@author       maxigaz
@homepageURL  https://gitlab.com/maxigaz/wordreference-dark
@updateURL    https://gitlab.com/maxigaz/wordreference-dark/raw/master/wordreference-dark.user.css
@version      0.1.0
==/UserStyle== */

@-moz-document domain("wordreference.com")
{
	:root {
		--main-background: #383c4a;
		--lighter-background-1: #3f4353;
		--lighter-background-2: #3f4454;
		--lighter-background-3: #424758;
		--lighter-background-4: #484d60;
		--darker-background-1: #323542;
		--darker-background-2: #2e313d;
		--darker-background-3: #2b2e39;

		--input-background: #313541;
		--input-background-alt: #353a47;
		--input-focus-background: #333744;

		--main-text-color: #e4e4e4;
		--lighter-text-color-1: #e7e7e7;
		--lighter-text-color-2: #eee;
		--lighter-text-color-3: #f5f5f5;

		--darker-text-color-1: #ddd;
		--darker-text-color-2: #d4d4d4;
		--darker-text-color-3: #cacaca;
		--darker-text-color-4: #c7c7c7;
		--darker-text-color-5: #bababa;

		--a-color: #2596ff;
		--a-hover-color: #23baff;

		--yellow: #796a25;

		--light-divider: #404555;
		--lighter-divider: #434859;
		--main-border: #292c36;
		--dark-border: #22252e;

		--btn-border: #1b1b1b;
		--btn-background: #3f4253;
		--btn-disabled-background: #464a5c;
		--btn-disabled-color: #878787;

		--table-hover: #474b5d;

		--hr-dark: #333;
		--hr-bright: #777;
	}

	body {
		background-color: var(--darker-background-2) !important;
		color: var(--main-text-color);
		overflow-x: hidden;
	}

	hr {
		color: var(--hr-dark);
	}

	/* ===== Search results page ===== */

	.full-header {
		background-color: var(--lighter-background-2);
	}

	#logo a span[style="color:#b2aef4"] {
		color: var(--darker-text-color-5) !important;
	}

	#search {
		background-color: var(--darker-background-1);
		border-color: var(--main-border);
	}

	.content {
		background-color: var(--main-background);
		border-color: var(--main-border);
	}

	a, a:visited {
		color: var(--a-color);
	}

	table.WRD {
		border-color: var(--lighter-divider);
	}

	table.WRD .additional {
		border-color: var(--lighter-divider);
	}

	p#threadsHeader {
		border-color: var(--lighter-divider);
	}

	#lista_link {
		border-color: var(--lighter-divider);
	}

	/* Pronunciation */

	.pronRH, .pronWR {
		color: var(--darker-text-color-1) !important;
	}

	.tooltip.pronWidget {
		color: var(--darker-text-color-3);
	}

	.more-pron-trigger {
		color: var(--darker-text-color-5);
	}

	/* Definition tables */

	.even {
		background-color: var(--darker-background-3);
		border-color: var(--lighter-divider);
	}

	.odd {
		background-color: var(--darker-background-1);
	}

	tr.even:hover, tr.odd:hover, tr.evenEx:hover, tr.oddEx:hover {
		background-color: var(--table-hover);
	}

	:not(.even) + .even, :not(.odd) + .odd {
		border-color: var(--light-divider);
	}

	tr.more td {
		border-color: var(--light-divider);
	}

	td.FrEx, td.ToEx {
		color: var(--darker-text-color-5);
	}

	.WRD td.ToWrd {
		color: var(--lighter-text-color-3);
	}

	.POS2 {
		color: var(--a-color);
	}

	/* Sidebars */

	td .title1 {
		color: var(--main-text-color);
		border-color: var(--lighter-divider);
	}

	#leftcolumn {
		border-color: var(--main-border);
	}

	#rightcolumn {
		border-color: var(--main-border);
	}

	#adrighttop {
		border-color: var(--main-border) !important;
	}

	.ad, .wotd {
		border-color: var(--main-border) !important;
	}

	.wrSupportRightAdLink {
		border-color: var(--main-border) !important;
	}

	.FCboxes {
		border-color: var(--main-border);
	}

	/* Search input */

	#search input {
		background-color: var(--input-background-alt);
		border-color: var(--btn-border);
	}

	#search input:active, #search input:focus {
		color: var(--darker-text-color-1);
	}

	/* Buttons */

	.inputcontainer {
		background-color: var(--btn-background);
		border-color: var(--btn-border);
		color: var(--main-text-color);
	}

	#search #reverseBtn, #search #searchBtn {
		filter: invert(90%);
	}

	#forumapi span.bttn a {
		background-color: var(--btn-background);
		border-color: var(--btn-border);
		color: var(--main-text-color);
	}

	#headerTabs .selected a, #headerTabs .selected span {
		background-color: var(--lighter-background-1);
		color: var(--main-text-color);
	}

	#headerTabs a, #headerTabs span {
		background-color: var(--btn-background);
		color: var(--main-text-color);
	}

	#headerTabs a:hover, #headerTabs span:hover {
		background-color: var(--lighter-background-3);
	}

	#headerTabs li {
		border-color: #2b2e39;
	}

	#headerTabs .selected {
		border-color: #222;
	}

	/* ===== Conjugation ===== */

	h4 {
		background-color: var(--darker-background-1);
		color: var(--lighter-text-color-1);
	}

	.LineBreak {
		background-color: var(--hr-dark);
	}

	b {
		color: var(--a-hover-color);
	}

	span[style="color:#6666ff"] {
		color: var(--a-hover-color) !important;
	}

	div[style="background-color:#FADB4E;border:solid 1px black;padding:3px 4px"] {
		background-color: var(--yellow) !important;
		color: var(--lighter-text-color-3);
	}

	/* ===== Main page ===== */

	#navbar {
		background-color: var(--lighter-background-2);
	}

	h3 {
		background-color: var(--darker-background-2);
		border-color: var(--dark-border);
		color: var(--lighter-text-color-1);
	}

	/* The previous rule also changes headers on def pages. Let's fix that! */
	.headerWord {
		background-color: var(--main-background);
	}

	#infoone, #infotwo, #infothree {
		border-color: var(--main-border);
		background-color: var(--darker-background-3);
	}

	.info p {
		color: var(--main-text-color);
	}

	.highlight, .highlight2 {
		color: var(--a-color);
	}

	.links a:link {
		color: var(--darker-text-color-3);
	}

	.links a:hover {
		color: var(--a-hover-color);
	}

	.footer-text a {
		color: var(--darker-text-color-3);
	}

	.logo {
		color: var(--main-text-color);
	}

	.dotcom {
		color: var(--darker-text-color-5);
	}

	/* Search input */

	.ac-input {
		background-color: var(--input-background);
		border-color: var(--btn-border);
		color: var(--darker-text-color-1);
	}

	.ac-input:focus {
		background-color: var(--input-focus-background);
	}

	.autocomplete-suggestions {
		background-color: var(--input-background);
		border-color: var(--main-border);
	}

	.autocomplete-suggestions > .autocomplete-header {
		border-color: var(--main-border);
	}

	.autocomplete-suggestion {
		border-color: var(--light-divider);
		color: var(--main-text-color);
	}

	.autocomplete-suggestions > .autocomplete-footer {
		border-color: var(--main-border);
	}

	.lang {
		background-color: var(--lighter-background-4);
	}

	.dark {
		background-color: var(--lighter-background-3);
	}

	.submit-button {
		background-color: var(--btn-background);
		border-color: var(--btn-border);
	}

	/* Language selection */

	.custom-select select {
		background-color: var(--btn-background);
		border-color: var(--btn-border);
		border-radius: 5px;
		color: var(--main-text-color);
		height: 40px;
	}

	.reverse-button {
		border-color: var(--btn-border);
	}

	#text_form {
		color: var(--darker-text-color-2);
	}

	/* Navigation dropdown */

	#navbar ul li {
		background-color: var(--main-background);
		border-color: var(--light-divider);
	}

	#navbar ul li a {
		color: var(--main-text-color);
	}

	#navbar li:hover ul li:hover {
		background-color: var(--lighter-background-1);
	}

	#navbar li:hover ul li a:hover {
		color: var(--a-hover-color);
	}
}
